/* index styles */
ul {
    list-style: none;
}

/* --- start Navigation Bar --- */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.nav .title {
    flex-grow: 1;
    font-size: 7vw;
}

.nav ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

/* --- Ends Navigation Bar --- */
/* --- Start Home Page --- */
.home {
    padding-left: 3%;
    padding-right: 3%;
}

.home h2 {
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

.home p {
    margin-bottom: 1.25 vmin;
}
/* --- Ends Home Page --- */
/* --- Start Calculator Page --- */
.calc-page {
    display: flex;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}
/* --- Ends Calculator Page --- */
