/* index styles */
ul {
    list-style: none;
}

a {
    color: inherit;
}

a:hover {
    color: #A58B77;
}

body {
    background-color: #D9CFC7;
    color: #024059;
}

/* --- start Navigation Bar --- */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #0B5B8C;
    color: #D9CFC7;
}

.nav .title {
    flex-grow: 1;
    font-size: 7vw;
}

.nav ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

/* --- Ends Navigation Bar --- */
/* --- Start Home Page --- */
.home {
    padding-left: 3%;
    padding-right: 3%;
}

.home h2 {
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

.home p {
    margin-bottom: 1.25 vmin;
}

/* --- Ends Home Page --- */
/* --- Start Calculator Page --- */
.calc-page {
    display: flex;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

/* --- Ends Calculator Page --- */

/* -- start Quotes section -- */

.section-quotes {
    padding-top: 5%;
}

.section-quotes p {
    width: 80%;
    margin: 0 auto;
    font-size: 3.5vmin;
}

.section-quotes span {
    font-weight: bold;
}

.loading {
    width: fit-content;
    margin: 3% auto;
    font-size: 1.5rem;
    color: red;
}